<body id="NB">
    <h1>Nacimiento del Mirage III</h1>
</body>
    <div>
    <ul id="NUL">
        <li><a href="">Mirage</a> / </li>
        <li>Nacimiento del Mirage III</li>
    </ul>
    </div>
<body id="P1">
    <body className="P"><p>El nacimiento de este avíon comienza con un requerimiento por la Fuerza Aerea Francesa, solicitando 
    un interceptor que sea ligero en peso, con capacidad todo tiempo, que tenga la habilidad de subir 18.000 metros
    o 59.100 pies en 6 minutos y que sea capaz de superar la velocidad del sonido estando en vuelo nivelado.
    A esa peticion aparecieron las empresa de Sud-Est, con su avion de ala en flecha y motor mixto, SNCASE SE.212 Durandal, 
    Sud-Ouest, precento su avíon de ala recta y motores puesto en las puntas alaraes SNCASO SO.9000 Trident,
    por último esta Dassault's con su avíon bimotor y de ala delta MD.550 Mystère Delta.</p></body>
   <div>  </div>       
    <section>
    <ul id="L">
        
    <div>
        <li id="MD1">  
        <figure id="MDF">Dassault's MD.550 Mystère Delta</figure>
        </li>
    </div>

    <div>
        <li id="SE1">  
        <figure>Sud-Est SNCASE SE.212 Durandal</figure>
        </li>
    </div> 

    <div>
        <li id="SO1">  
        <figure>Sud-Ouest SNCASO SO.9000 Trident</figure>
        </li>
    </div>   
    
    </ul>
    </section>
    <div> </div>
    <body id="PL">
    <p>Despues años de pruebas y eliminando las fallas, a finales de 1954 Dassault realizo un cambio al nombre de la aeronave
        pasandose llamar a Mirgae I (significa Espejismo en Frances) lo cual finalizaron de realizar pruebas por el problema de llevar un solo misil aire-aire y de necesitar una gran distancia para despegar.
        Con los datos obtenidos del último, la empresa decidio crear un nuevo modelo y un poco más grande llamdo Mirage II, con más potencia de motor, 
        pero decidieron ir a un objetivo más avaricioso que se implemento en el Mirage III con un 30 porciento más de peso que el primero utilizando unas dimensiones más grande,
        con la capacidad de tener un vuelo tanto sub-sónico y supersónico de la manera eficiente , con este último
        se le incorporó una entrada de aire lateral con un corte de seccion que podia ser graduado automáticamente para una potencia de motor eficiente 
        a casi cualquier velocidad mientras usaba los motores de nueva generacion llamado SNECMA Atar. 
        En 1957 se dio por finalizado el concurso dando ganador a la empresa Dassault con su Mirage III.            
    </p>
    <section >
    <ul>
    <li id="LU">          
    <figure>Dassault's Mirage III Prototipo 001</figure>        
    </li>
    </ul>        
    </section>       
    <button id="BN"><a href="">Volver al la Pagina Inicio</a></button>
    </body>
    </body>