<body>
    <h1 id="H0">Dassault Mirage III</h1>
  
    <body class="BH">
        <h1>Nacimiento</h1>
        <div id="N1"></div>
        <p>Esta leyenda comienza con la resolucion de La Fuerza Aerea Francesas con requisitos que provoco
          la creacion de tres prototipos con ideas múy diferentes.</p>
        <button><a routerLink="nacimiento">Click Para Seguir Leyendo</a></button>    
    </body>

    <body class="BH">
        <h1>Avance</h1>
      <div id="N2"></div>
    <p>Luego de la finalizacion del concurso para la seleccion del interceptor ideal, 
        se utiliza el modelo para crearn modelos mejorados y al la vez se crea modelo con diferentes funcion.</p>
      <button><a routerLink="avance">Click Para Seguir Leyendo</a></button>    
    </body>

    <body class="BH">
        <h1 id="N3A">Tiempo de Fuego</h1>        
          <div id="N3"></div>
          <p>Con la Bendicion de Fuego de este modelo, se demostro el potencial no descubierto, 
            consiguiendo gran fama al rededor del mundo entrando en diferentes combates y convirtiendose en leyenda.</p>
        <button><a routerLink="combate">Click Para Seguir Leyendo</a></button>    
    </body>

    <body class="BH">
        <h1>Jubilacion</h1>
        <div id="N4"></div>
        <p>Despues de nacer en la década de 1950, cruzo por varias actualizaciones, 
          con tiempo de vuelo y por más poderoso que sea, todas leyendas tienen su fin a causa del 
          avance tecnológico y de las nuevas creaciones de avíones más avanzado.</p>
          <button><a routerLink="jubilacion">Click Para Seguir Leyendo</a></button>    
    </body>

    <body class="BH">
        <h1>Curiosidades</h1>    
      <div id="N5"></div>
      <p >Con toda la historia contada, en esta seccion se le incorpora algunos 
        datos técnicos del Mirage III</p>
      <button><a routerLink="curiosidades">Click Para Seguir Leyendo</a></button>    
    </body>
</body>
<body>
  <div id="angular"></div>
  <h3 id="AB">Desarrollado en Angular 6</h3>    
</body>

<router-outlet></router-outlet>